@import 'bootstrap/scss/bootstrap';

.gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}
.photo-card {
  border: 1px solid black;
  text-align: center;
  & img {
    width: 320px;
    height: 180px;
    object-fit: cover;
  }
}

.search-form {
  width: 500px;
  margin: 0 auto;
}

.load-more {
  max-width: 200px;
  margin: 0 auto;
}
