.gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.photo-card {
  border: 1px solid black;
  text-align: center;
  & img {
    width: 320px;
    height: 180px;
    object-fit: cover;
  }
}
